<nav class="navbar fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="">To Do List XL</a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="navbar-nav">
      <div data-toggle="collapse" data-target="#collapsibleNavbar">
        <a class="nav-item nav-link" routerLink="/todolist" routerLinkActive="active">To Do List</a>
      </div>
      <div data-toggle="collapse" data-target="#collapsibleNavbar">
        <a class="nav-item nav-link" routerLink="/reddits" routerLinkActive="active">Reddits</a>
      </div>
      <div data-toggle="collapse" data-target="#collapsibleNavbar">
        <a class="nav-item nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
      </div>
      <div data-toggle="collapse" data-target="#collapsibleNavbar">
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </div>
    </div>
  </div>
</nav>
<div class="container" style="padding-top: 60px;">
  <router-outlet></router-outlet>
</div>
